@font-face {
  font-family: 'Pretendard';
  src:
    url(../assets/fonts/Pretendard-Regular.woff) format('woff2'),
    url(../assets/fonts/Pretendard-Regular.woff) format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src:
    url(../assets/fonts/Pretendard-Medium.woff) format('woff2'),
    url(../assets/fonts/Pretendard-Medium.woff) format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src:
    url(../assets/fonts/Pretendard-Bold.woff) format('woff2'),
    url(../assets/fonts/Pretendard-Bold.woff) format('woff');
  font-weight: 700;
  font-display: swap;
}
